*{
	margin: 0;
	padding: 0;
}

.col{
	height: 350px;
	display:block;
	float: left;
}

.col-1{
	width: 100%;
}

.col-2{
	width: 50%;
}

.right{
	float: right;
}

.white{
	background-color: white;
}

.grey{
	background-color: grey;
}

.red{
	background-color:red;
}

.green{
	background-color:green;
}

.with
{
	background-color:blue;
}

.yellow{
	background-color: yellow;
}

.pink{
	background-color:pink;
}

.titulo{
	height: 50px;
}

.redsocial{
	height: 80px;
}


.TCG{
	font-size: 20px;
	font-family: sans-serif;
	color: gray;
}

.TCN{
	font-family: sans-serif;
	color: black;
	font-size: 25px;
}

#buscarcuadro{
	width: 50%;
	background-color: red;
}